/* Corpo da página */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-image: url('background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* Área que imita página de livro */
.page {
    width: 100%;
    max-width: 900px;   /* controla o tamanho ideal */
    margin: 40px auto;
    padding: 40px;

    background-image: url('parchment.png');
    background-size: cover;    /* melhor para preencher o papel */
    background-repeat: no-repeat;
    background-position: center;

    min-height: 600px;

    display: flex;
    flex-direction: column;

    border-radius: 12px;
}


/* Botões de navegação tipo livro */
.nav-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.nav-buttons button,
.btn-upload {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #7a4f2b;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.nav-buttons button:hover,
.btn-upload:hover {
    background-color: #633f22;
}

/* Quadro de foto */
.foto-quadro {
    width: 220px;
    height: 220px;
    margin: 0 auto 15px auto;
    border: 3px solid #633f22;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    overflow: hidden;
    position: relative;
}

.foto-quadro img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.foto-quadro span {
    color: #aaa;
    font-size: 14px;
    text-align: center;
}

/* Inputs e Textareas */
input, textarea {
    border-radius: 10px;
    border: 3px solid #7a4e2b;
    background-color: #7a4e2b11;
    padding: 8px;
    resize: none;
    width: 100%;
    box-sizing: border-box;
    transition: background-color 0.2s;
    transition: border 0.2s;
}

input:focus, textarea:focus{
    border: 3px solid #633f22;
    background-color: #633f2211;
    outline: none;
}
/* Textareas grandes */
.Caracteristicas,
.Historia {
    height: 400px;
}

/* Botão centralizado */
.botao-centro {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

@media (max-width: 600px) {
    .page {
        padding: 20px;
        max-width: 95%;
    }

    .Caracteristicas,
    .Historia {
        height: 250px;
    }
}

